<!DOCTYPE html>

<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <title>Speech SDK</title>
</head>

<body>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="recog-tab" data-toggle="tab" href="#recog" role="tab" aria-controls="recog"
        aria-selected="true">Speech Recognition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tran-tab" data-toggle="tab" href="#tran" role="tab" aria-controls="tran"
        aria-selected="false">Speech Translation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting"
        aria-selected="false">Setting</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recog" role="tabpanel" aria-labelledby="recog-tab">
      <div id="content" class="container mt-5">
        <div class="row">
          <h1 style="font-weight:500;">Microsoft Cognitive Services: Speech Recognition</h1>
        </div>
        <hr>
        <div class="row mt-4">
          <div class="col">Input:
            <select id="inputSource">
              <option value="Mic" selected="selected">Microphone</option>
              <option value="File">Audio File</option>
            </select>
          </div>
        </div>
        <div class="row">
          <input type="file" id="filePicker" accept=".wav" style="display:none" />
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="col-12">
              <h3>Once Speech Recognition</h3>
            </div>
            <div class="col-12">
              <button id="speechsdkStartRecognizeOnceAsync" type="button" class="btn btn-primary">start</button>
              <button id="speechsdkStopRecognizeOnceAsync" type="button" class="btn btn-secondary"
                disabled="disabled">stop</button>
            </div>
          </div>
          <div class="col">
            <div class="col-12">
              <h3>Continuous Speech Recognition</h3>
            </div>
            <div class="col-12">
              <button id="speechsdkStartContinuousRecognition" type="button" class="btn btn-primary">start</button>
              <button id="speechsdkStopContinuousRecognition" type="button" class="btn btn-secondary"
                disabled="disabled">stop</button>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <h3>Intent Recognition:</h3><br>
            <button id="speechsdkIntentStartRecognizeOnceAsync">recognizeOnceAsync()</button>
            <button id="speechsdkIntentStopRecognizeOnceAsync" disabled="disabled">STOP recognizeOnceAsync()</button>
          </div> -->
        <div class="row mt-4">
          <div class="col-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Phrase List Values</span>
              </div>
              <input id="phrases" type="text" class="form-control" size="30" aria-label="Username"
                aria-describedby="basic-addon1" value="">
              <div class="input-group-append">
                <span class="input-group-text">";" separated list</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            Results:
            <textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea>
          </div>
          <div class="col">
            Events:
            <textarea id="statusDiv" style="display: inline-block;width:500px;height:200px"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tran" role="tabpanel" aria-labelledby="tran-tab">
      <div class="container mt-5">
        <div class="row">
          <div>
            <h1 style="font-weight:500;">Microsoft Cognitive Services: Speech Translation</h1>
          </div>
        </div>
        <hr>
        <div class="row mt-4">
          <div class="col">
            Input:
            <select id="inputSource2">
              <option value="Mic" selected="selected">Microphone</option>
              <option value="File">Audio File</option>
            </select>
          </div>
        </div>
        <div class="row mt-4">
          <input type="file" id="filePicker2" accept=".wav" style="display:none" />
        </div>
        <div class="row">
          <div class="col">Language output
            <!-- For a full list of supported languages see: https://docs.microsoft.com/azure/cognitive-services/speech-service/language-support#text-to-speech-->
            <select id="languageTargetOptions">
              <option value="en" selected="selected">
                English
                - US</option>
              <option value="zh-Hant">Chinese - TW
              </option>
              <option value="ja">Japanese - JP
              </option>
              <option value="ko">Korean - KR</option>
            </select>
            <input id="voiceOutput" type="checkbox" checked>
            <label for="voiceOutput">Voice output</label></div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="col-12">
              <h3>Once Speech Translation</h3>
            </div>
            <div class="col-12">
              <button id="speechsdkStartTranslationOnce" class="btn btn-primary">start</button>
              <button id="speechsdkStopTranslationOnce" class="btn btn-secondary" disabled="disabled">stop</button>
            </div>
          </div>
          <div class="col">
            <div class="col-12">
              <h3>Continuous Speech Translation</h3>
            </div>
            <div class="col-12">
              <button id="speechsdkStartContinuousTranslation" class="btn btn-primary">start</button>
              <button id="speechsdkStopContinuousTranslation" class="btn btn-secondary"
                disabled="disabled">stop</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            Results
            <textarea id="phraseDiv2" style="display: inline-block;width:500px;height:200px"></textarea>
          </div>
          <div class="col">
            Events:
            <textarea id="statusDiv2" style="display: inline-block;width:500px;height:200px"></textarea>
          </div>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="setting" role="tabpanel" aria-labelledby="setting-tab">
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <h1 style="font-weight:500;">Microsoft Cognitive Services: Setting</h1>
          </div>
        </div>
        <hr>
        <div class="row mt-4">
          <div class="col-6">
            <h3>Language:</h3>
            <!-- For the full list of supported languages see: https://docs.microsoft.com/azure/cognitive-services/speech-service/supported-languages -->
            <select id="languageOptions" class="custom-select">
              <option value="en-US" selected="selected">English - US</option>
              <option value="zh-TW">Chinese - TW</option>
              <option value="ja-JP">Japanese - JP</option>
              <option value="ko-KR">Korean - KR</option>
              <option value="es-ES">Spanish - SP</option>
              <option value="fr-FR">French - FR</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <h3>Region:</h3>
            <select id="regionOptions" class="custom-select">
              <option value="eastasia" selected="selected">East Asia</option>
              <option value="southeastasia">South East Asia</option>
              <option value="westus">West US</option>
              <option value="westus2">West US2</option>
              <option value="eastus">East US</option>
              <option value="eastus2">East US2</option>
              <option value="northeurope">North Europe</option>
              <option value="westeurope">West Europe</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-8">
            <h3>Application ID:</h3>
            <div class="input-group mb-3">
              <input id=appId" type="text" class="form-control" placeholder="YOUR_LANGUAGE_UNDERSTANDING_APP_ID"
                size="60" aria-label="Username" aria-describedby="basic-addon1" value="">
              <div class="input-group-append">
                <span class="input-group-text">Needed for
                  intent
                  recognition</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center pt-3">
    <div class="navbar-brand" href="#">Microsoft Technology Center, Taiwan</div>
  </nav>

  <script src="/javascripts/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
  <script src="/javascripts/init.js"></script>
  <script src="/javascripts/speech2text-continue.js"></script>
  <script src="/javascripts/speech2text-once.js"></script>
  <script src="/javascripts/speech2text2intent-once.js"></script>
  <script src="/javascripts/translate-cont.js"></script>
  <script src="/javascripts/translate-once.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Bootstrap CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>