<%- include('header') -%>
<div class="tab-pane" id="setting">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 style="font-weight:500;">Microsoft Cognitive Services: Setting</h1>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-6">
                <h3>Language:</h3>
                <!-- For the full list of supported languages see: https://docs.microsoft.com/azure/cognitive-services/speech-service/supported-languages -->
                <select id="languageOptions" class="custom-select">
                    <option value="en-US" selected="selected">English - US</option>
                    <option value="zh-TW">Chinese - TW</option>
                    <option value="ja-JP">Japanese - JP</option>
                    <option value="ko-KR">Korean - KR</option>
                    <option value="es-ES">Spanish - SP</option>
                    <option value="fr-FR">French - FR</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <h3>Region:</h3>
                <select id="regionOptions" class="custom-select">
                    <option value="eastasia" selected="selected">East Asia</option>
                    <option value="southeastasia">South East Asia</option>
                    <option value="westus">West US</option>
                    <option value="westus2">West US2</option>
                    <option value="eastus">East US</option>
                    <option value="eastus2">East US2</option>
                    <option value="northeurope">North Europe</option>
                    <option value="westeurope">West Europe</option>
                </select>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>