<%- include('header') -%>
<div class="tab-pane" id="synth">
    <div class="container mt-5">
        <div class="row">
            <div>
                <h1 style="font-weight:500;">Microsoft Cognitive Services: Speech Synthesis</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">Output language:
                <select id="synthLanguageOptions" class="custom-select">
                    <option value="en-US" selected="selected">English - US</option>
                    <option value="zh-CN">Chinese - CN</option>
                    <option value="ja-JP">Japanese - JP</option>
                    <option value="ko-KR">Korean - KR</option>
                    <option value="es-ES">Spanish - SP</option>
                    <option value="fr-FR">French - FR</option>
                </select></div>
        </div>
        <div class="row mt-4">
            <div class="col-6">Speaking styles:
                <select id="speakingStylesOptions" class="custom-select" data-toggle="tooltip" data-placement="right"
                    title="Only English and Chinese is currently supported">
                    <option value="" selected="selected">neutral</option>
                    <option value="newscast">newscast</option>
                    <option value="customerservice">customerservice</option>
                    <option value="chat">chat</option>
                    <option value="cheerful">cheerful</option>
                    <option value="empathetic">empathetic</option>
                </select></div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class="input-group mb-3">
                    <input id="synthInput" type="text" class="form-control" placeholder="Something you want to say"
                        aria-label="Recipient's username" aria-describedby="button-addon2" data-toggle="tooltip"
                        data-placement="bottom" title="Please type in the same language as your Output language">
                    <div class="input-group-append">
                        <button id="synthBtn" class="btn btn-outline-secondary" type="button">Enter</button>
                    </div>
                </div>
            </div>
        </div>
        <audio id="audioPlayer" autoplay></audio>
    </div>
</div>
<script type="module" src="/javascripts/text2speech.js"></script>
<%- include('footer') -%>